*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media screen and (max-width: 700px){

    .lista-oculta{
        top: 55px;
        display: none;
        flex-direction: row;
        justify-content: center;
        background: #fff;
        height: 55px;
        width: 100%;
        position: absolute;
        padding: 10px;
    }

    .lista-oculta li{
        font-size: 14px;
        cursor: pointer;
        display: flex;
        margin: 0 5px;
    }
    
    .lista-oculta .sigler {
        border-right: 1px solid gray;
        padding: 6px 20px;
    }
    
    .lista-oculta .login-menu {
        border: 1px solid #001088;
        color: #001088;
        border-radius: 6px;
        padding: 6px 20px;
        margin: 0 10px;
    }
    
    .lista-oculta .cadastro-menu {
        padding: 6px 30px;
        border: 1px solid linear-gradient(to right, #9B1F39, #C90074);
        background: linear-gradient(to right, #9B1F39, #C90074);
        color: #fff;
        border-radius: 6px;
    }
    



    .all .backmenu .menu{
        width: 300px;
        height: 55px;
        background: #fff;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .all .backmenu .menu .lista-menu{
        width: 100%;
        top: 55px;
        height: 50px;
        align-items: center;
        position: absolute;
        display: none;
       
    }

    .menu .lista-menu ul{
        list-style: none; 
        width: 100%;
        height: auto;
        padding-top: 8px;
      
    }

    .all .backmenu .menu .menu-oculto{
        height: 40px;
        width: 40px;
        display: block;
    }

/*----------------------Primeiro gradiente-----------*/    

    .all .landing .gradient{
        width: 100%;
        height: 300px;
        background: linear-gradient(to right, #001088, #C90074);
    }

    .all .servicos .gradient{
        width: 100%;
        height: 600px;
        background: linear-gradient(to right, #001088, #C90074);
    }

    .all .landing .gradient .gradiente-conteudo,
    .all .servicos .gradient .gradiente-conteudo{
        height: auto; 
        width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .all .landing .gradient .gradiente-conteudo .img-gradiente,
    .all .servicos .gradient .gradiente-conteudo .img-gradiente{
        width: 300px;
        height: 300px;
        margin-top: 200px;
        display: none;
     }

     .botoes-gradiente{
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 80px;
        text-align: center;
    }

    .botoes-gradiente .os-btns{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 20px;
    }

    .botoes-gradiente .os-btns button{
        width: 250px;
        height: 30px;
        cursor: pointer;
        margin: 0 auto;
        margin-top: 10px;
    }


/*----------------------logos---------------------*/   

    .all .landing .logos{
        width: 300px;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .all .landing .logos #lista-das-logos{
        height: auto;
        width: 300px;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    }

    .all .landing .logos #left{
        height: 20px;
        width: 10px;
        display: none;
    }

    .all .landing .logos #right{
        height: 20px;
        width: 10px;
        display: none;
    }

    .all .landing .logos #lista-das-logos img{
        height: 30px;
        width: 100px;
        margin: 10px 5px;
    }




/*--------------------Funcionalidade----------------------*/
    .all .landing .div-funcionamento,
    .all .servicos .div-funcionamento{
        height: auto;
        width: 300px;
        margin: 20px auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .all .landing .div-funcionamento .cards,
    .all .servicos .div-funcionamento .cards{
        display: block;
        width: 300px;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        height: auto;
        padding-left: 50px;
    }
    
    .all .landing .div-funcionamento .cards .card,
    .all .servicos .div-funcionamento .cards .card{
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
      
        margin: 0 auto;
        margin-top: 20px;
    }




/*----------------Mais Procurados*/

    .all .landing .mais-procuradas,
    .all .servicos .mais-procuradas{
        width: 300px;
        height: 450px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .all .landing .mais-procuradas .other-cards,
    .all .servicos .mais-procuradas .other-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 300px;
    }

    .all .landing .mais-procuradas .other-cards .card-slid,
    .all .servicos .mais-procuradas .other-cards .card-slid{
        height: 100px;
        width: 225px;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: space-between;
        border-radius: 10px;
    }
    
    .all .landing .mais-procuradas .other-cards .div-carrossel,
    .all .servicos .mais-procuradas .other-cards .div-carrossel{
        height: 320px;
        width: 225px;
        list-style: none;
        float: left;
        overflow: hidden;
        border-radius: 10px;
    }

    .all .landing .mais-procuradas .other-cards .botao-back, 
    .all .servicos .mais-procuradas .other-cards .botao-next{
    width: 30px;
    height: 30px;
    align-self: center;
    }


/*-------------------------------Outro gradiente----------------*/

    .all .landing .outro-gradiente,
    .all .servicos .outro-gradiente{
        width: 100%;
        height: 350px;
        background: linear-gradient(to right, #001088, #C90074);
        padding-top: 50px;
        margin-top: 80px;
    }

    .all .landing .outro-gradiente .outro-gradiente-conteudo,
    .all .servicos .outro-gradiente .outro-gradiente-conteudo{
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;

    }
    
    
     .all .landing .outro-gradiente .outro-gradiente-conteudo .img,
    .all .servicos .outro-gradiente .outro-gradiente-conteudo .img{
        display: none;
        width: 350px;
        height: 300px;
       
    }

    .all .landing .outro-gradiente .outro-gradiente-conteudo  .botoes-do-outro-gradiente p,
    .all .servicos .outro-gradiente .outro-gradiente-conteudo  .botoes-do-outro-gradiente p{
   
        color: rgb(255, 255, 255); 
       text-align: center;
        margin-left: 0;
    }

    .all .landing .outro-gradiente .outro-gradiente-conteudo  .botoes-do-outro-gradiente,
    .all .servicos .outro-gradiente .outro-gradiente-conteudo  .botoes-do-outro-gradiente{
        width: auto;
        padding-top: 40px;
        justify-content: center;
        text-align: center;
    }


/*------------------------DIv alguns numeros------------------------*/

    .all .landing .div-alguns-numeros,
    .all .servicos .div-alguns-numeros{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 60px;
    }

    .all .landing .div-alguns-numeros .titulo-alguns p,
    .all .servicos .div-alguns-numeros .titulo-alguns p{
        text-align: center;
        color: #4B4B4B;
        font-size: 15px;
    }

    .all .landing .div-alguns-numeros .lista-alguns-numeros,
    .all .servicos .div-alguns-numeros .lista-alguns-numeros{
        height: auto;
        width: 300px;
   
        margin: 20px auto;
        text-align: center;
     
        -webkit-flex-wrap: wrap;
         flex-wrap: wrap;
    }

    .all .landing .div-alguns-numeros .lista-alguns-numeros div,
    .all .servicos .div-alguns-numeros .lista-alguns-numeros div{
        width: 300px;
        margin: 10px 0;
        text-align: center;
    }

    .all .landing .div-alguns-numeros .lista-alguns-numeros div:last-child,
    .all .servicos .div-alguns-numeros .lista-alguns-numeros div:last-child{
        width: 300px;
        margin-bottom: 40px;
        text-align: center;
    }




/* -------------DIV De convite----------------*/

    .all .landing .outro-convite .centralizar,
    .all .servicos .outro-convite .centralizar{
        height: 300px;
        width: 300px;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: center;
    }  
    
    .all .landing .outro-convite .centralizar .outro-convite-conteudo,
    .all .servicos .outro-convite .centralizar .outro-convite-conteudo{
        height: 180px;
        width: 250px;
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        text-align: center;
    }

    .all .landing .outro-convite .centralizar .outro-convite-foto,
    .all .servicos .outro-convite .centralizar .outro-convite-foto{
        height: 180px;
        width: 250px;
        margin-top: 70px;
        display: none;
    }



/*--------------------------footer---------------------------*/    
   
.all .landing .footer,
.all .servicos .footer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 70px;
    }

    .all .landing .footer .traco,
    .all .servicos .footer .traco{
        width: 250px;
        height: 1px;
        margin: 0 auto;
        justify-content: center;
        background: #9e9e9e;
    }

    .all .landing .footer .footer-lis,
    .all .servicos .footer .footer-lis{
        width: 250px;
        height: auto;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        display: inline;
    }

    .all .landing .footer .footer-lis div,
    .all .servicos .footer .footer-lis div{
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100px;
        padding: 10px;
        display: inline-block;
    }

    .all .landing .footer .footer-footer,
    .all .servicos .footer .footer-footer{
        height: 100px;
        width: 250px;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: space-between;
    }





    .all .servicos .gradient .gradiente-conteudo-servicos{
        width: 400px;
        height: 200px;
        margin: 0 auto;
        margin-top: 160px;
    }

    .all .servicos .gradient .gradiente-conteudo-servicos .procurar-profissional{
        height: 280px;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.331);
        padding: 10px;
    }

    .all .servicos .gradient .gradiente-conteudo-servicos .procurar-profissional .infor-profissionaos{
        height: 40px;
        width: 400px;
        padding: 0 10px;
        display: inline-block;
    }

    .all .servicos .gradient .gradiente-conteudo-servicos .procurar-profissional .infor-profissionaos select{
        width: 160px;
        height: 40px;
        background: #fff;
        padding: 0 10px;
        border: none;
        border-radius: 4px;
        justify-content: center;
        margin: 10px;
    }

    .all .servicos .gradient .gradiente-conteudo-servicos .procurar-profissional .procurar-profissionais button{
        width: 150px;
        height: 40px;
        border-radius: 4px;
        border: none;
        background: #001088;
        color: #fff;
    
    }










/*--------------------------login--------------------*/

.all .login{
    display: none;
    flex-direction: column;
    height: 450px;
    width: 260px;
    margin: 10% auto;
    text-align: center;
   
}

.all .login .login-p{
    color: #4B4B4B;
    font-size: 27px;
    margin-bottom: 50px;
    font-weight: 200;
}


/*---------------------------- Cadastro-----------------------*/

    .all .cadastro  .primeira-div-cadastro{
        display: flex;
        flex-direction: column;
        margin: 10% auto;
        text-align: center;
        width: 260px;
        height: auto;
    }

    .all .cadastro .primeira-div-cadastro .cadastro-p{
        color: #4B4B4B;
        font-size: 27px;
        margin-bottom: 50px;
        font-weight: 200;
    }



/*----------------------------- Confirmar número---------------------*/

    .all .cadastro .confirmar-numero{
        display: none;
        flex-direction: column;
        margin: 10% auto;
        text-align: center;
        width: 260px;
        height: auto;
    }

    .all .cadastro .confirmar-numero .cadastro-p{
        color: #4B4B4B;
        font-size: 27px;
        margin-bottom: 50px;
        font-weight: 200;
    }

    .all .cadastro .confirmar-numero input{
        height: 43px;
        width: 260px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid rgb(185, 185, 185);
        background: transparent;
        margin: 10px auto;
        padding: 0 10px;
    }

    .all .cadastro .confirmar-numero input::placeholder{
        font-size: 14px;
        color: #707070;
        font-weight: 200;
        text-align: center;
    }

    .all .cadastro .confirmar-numero .next-button{
        height: 43px;
        color: #fff;
        background: linear-gradient(to right, #001088, #C90074);
        border-radius: 6px;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 17px;
        bottom: 20px;
        width: 260px;
        align-self: center;
        
    }





/*--------------------------------------- Slide cadastro-------------------------*/
    .all .cadastro .slide-cadastro{
        display: none;
        flex-direction: column;
        width: 260px;
        height: 850px;
        margin: 0 auto;
        margin-top: 50px;
    
    }

    .all .cadastro .slide-cadastro .slides{
        width: 260px;
        height: 800px;
        display: none;
        flex-direction: column;
        text-align: left;
    
        border-radius: 6px;
        box-shadow: rgb(182, 182, 182) 0px 0px 2px;
    }

    .all .cadastro .slide-cadastro .slides div{
        width: 260px;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }

}



@media screen and (max-width: 450px){
    .all .backmenu .menu .lista-menu{
        width: 100%;
        top: 55px;
        height: 50px;
        align-items: center;
        position: absolute;
        display: none;
       
    }

    .all .servicos .gradient{
        width: 100%;
        height: 700px;
        background: linear-gradient(to right, #001088, #C90074);
    }

    .all .servicos .gradient .gradiente-conteudo-servicos{
        width: 250px;
        height: 200px;
        margin: 0 auto;
        margin-top: 160px;
    }

    .all .servicos .gradient .gradiente-conteudo-servicos .procurar-profissional{
        height: 370px;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.331);
        padding: 10px;
    }

    .all .servicos .gradient .gradiente-conteudo-servicos .procurar-profissional .infor-profissionaos{
        height: 40px;
        width: 250px;
        padding: 0 10px;
        display: inline-block;
    }

    .all .servicos .gradient .gradiente-conteudo-servicos .procurar-profissional .infor-profissionaos select{
        width: 210px;
        height: 40px;
        background: #fff;
        padding: 0 10px;
        border: none;
        border-radius: 4px;
        justify-content: center;
        margin: 10px;
    }

    .all .servicos .gradient .gradiente-conteudo-servicos .procurar-profissional .procurar-profissionais button{
        width: 150px;
        height: 40px;
        border-radius: 4px;
        border: none;
        background: #001088;
        color: #fff;
    
    }
}
