*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media screen and (max-width: 700px){
    .lista-oculta{
        top: 55px;
        display: none;
        flex-direction: row;
        justify-content: center;
        background: #fff;
        height: 55px;
        width: 100%;
        position: absolute;
        padding: 10px;
    }

    .lista-oculta li{
        font-size: 14px;
        cursor: pointer;
        display: flex;
        margin: 0 5px;
    }
    
    .lista-oculta .sigler {
        border-right: 1px solid gray;
        padding: 6px 20px;
    }
    
    .lista-oculta .login-menu {
        border: 1px solid #001088;
        color: #001088;
        border-radius: 6px;
        padding: 6px 20px;
        margin: 0 10px;
    }
    
    .lista-oculta .cadastro-menu {
        padding: 6px 30px;
        border: 1px solid linear-gradient(to right, #9B1F39, #C90074);
        background: linear-gradient(to right, #9B1F39, #C90074);
        color: #fff;
        border-radius: 6px;
    }
    






    .all .backmenu .menu{
        width: 400px;
        height: 55px;
        background: #fff;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }

    .all .backmenu .menu .lista-menu{
        width: 100% !important;
        top: 55px;
        height: 50px;
        align-items: center;
        position: absolute;
        display: none;
    }

    .menu .lista-menu ul{
        list-style: none; 
        width: 100%;
        height: auto;
        padding-top: 8px;
      
    }

    .all .backmenu .menu .menu-oculto{
        height: 40px;
        width: 40px;
        display: block;
    }

/*----------------------Primeiro gradiente-----------*/    

    .all .landing .gradient,
    .all .servicos .gradient{
        width: 100%;
        height: 800px;
        background: linear-gradient(to right, #001088, #C90074);
    }

    .all .landing .gradient .gradiente-conteudo,
    .all .servicos .gradient .gradiente-conteudo{
        height: 300px; 
        width: 400px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .all .landing .gradient .gradiente-conteudo .img-gradiente,
    .all .servicos .gradient .gradiente-conteudo .img-gradiente{
        width: 400px;
        height: 300px;
        margin-top: 200px;
        display: none;
     }

     .botoes-gradiente{
        display: flex;
        flex-direction: column;
        height: 90px;
        margin-top: 100px;
        text-align: center;
    }

/*----------------------logos---------------------*/   

    .all .landing .logos{
        width: 400px;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .all .landing .logos #lista-das-logos{
        height: auto;
        width: 400px;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    }

    .all .landing .logos #left{
        height: 20px;
        width: 10px;
        display: none;
    }

    .all .landing .logos #right{
        height: 20px;
        width: 10px;
        display: none;
    }

    .all .landing .logos #lista-das-logos img{
        height: 30px;
        width: 100px;
        margin: 10px 5px;
    }




/*--------------------Funcionalidade----------------------*/
    .all .landing .div-funcionamento,
    .all .servicos .div-funcionamento{
        height: auto;
        width: 400px;
        margin: 20px auto;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .all .landing .div-funcionamento .cards,
    .all .servicos .div-funcionamento .cards{
        display: block;
        height: auto;
    }
    
    .all .landing .div-funcionamento .cards .card,
    .all .servicos .div-funcionamento .cards .card{
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        float: left;
        margin-top: 20px;
    }




/*----------------Mais Procurados*------------------*/

    .all .landing .mais-procuradas,
    .all .servicos .mais-procuradas{
        width: 330px;
        height: 450px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .all .landing .mais-procuradas .other-cards .card-slid,
    .all .servicos .mais-procuradas .other-cards .card-slid{
        height: 100px;
        width: 225px;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: space-between;
        border-radius: 10px;
    }
    
    .all .landing .mais-procuradas .other-cards .div-carrossel,
    .all .servicos .mais-procuradas .other-cards .div-carrossel{
        height: 320px;
        width: 225px;
        list-style: none;
        float: left;
        overflow: hidden;
        border-radius: 10px;
    }



/*-------------------------------Outro gradiente----------------*/

    .all .landing .outro-gradiente,
    .all .servicos .outro-gradiente{
        width: 100%;
        height: 350px;
        background: linear-gradient(to right, #001088, #C90074);
        padding-top: 50px;
        margin-top: 80px;
    }

    .all .landing .outro-gradiente .outro-gradiente-conteudo,
    .all .servicos .outro-gradiente .outro-gradiente-conteudo{
        width: 400px;
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;

    }
    
    
    .all .landing .outro-gradiente .outro-gradiente-conteudo .img,
    .all .servicos .outro-gradiente .outro-gradiente-conteudo .img{
        display: none;
        width: 450px;
        height: 300px;
       
    }

    .all .landing .outro-gradiente .outro-gradiente-conteudo  .botoes-do-outro-gradiente p,
    .all .servicos .outro-gradiente .outro-gradiente-conteudo  .botoes-do-outro-gradiente p{
        color: rgb(255, 255, 255); 
       text-align: center;
        margin-left: 0;
    }

    .all .landing .outro-gradiente .outro-gradiente-conteudo  .botoes-do-outro-gradiente,
    .all .servicos .outro-gradiente .outro-gradiente-conteudo  .botoes-do-outro-gradiente{
        width: auto;
        padding-top: 40px;
        justify-content: center;
        text-align: center;
    }


/*------------------------DIv alguns numeros------------------------*/

    .all .landing .div-alguns-numeros,
    .all .servicos .div-alguns-numeros{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 60px;
    }

    .all .landing .div-alguns-numeros .titulo-alguns p,
    .all .servicos .div-alguns-numeros .titulo-alguns p{
        text-align: center;
        color: #4B4B4B;
        font-size: 15px;
    }

    .all .landing .div-alguns-numeros .lista-alguns-numeros,
    .all .servicos .div-alguns-numeros .lista-alguns-numeros{
        height: auto;
        width: 360px;
   
        margin: 20px auto;
        text-align: center;
     
        -webkit-flex-wrap: wrap;
         flex-wrap: wrap;
    }

    .all .landing .div-alguns-numeros .lista-alguns-numeros div,
    .all .servicos .div-alguns-numeros .lista-alguns-numeros div{
        width: auto;
        margin: 10px 0;
    }

    .all .landing .div-alguns-numeros .lista-alguns-numeros div:last-child,
    .all .servicos .div-alguns-numeros .lista-alguns-numeros div:last-child{
        width: auto;
        margin-bottom: 40px;
        align-self: center;
    }




/* -------------DIV De convite----------------*/

    .all .landing .outro-convite .centralizar,
    .all .servicos .outro-convite .centralizar{
        height: 300px;
        width: 400px;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: center;
    }  
    
    .all .landing .outro-convite .centralizar .outro-convite-conteudo,
    .all .servicos .outro-convite .centralizar .outro-convite-conteudo{
        height: 180px;
        width: 350px;
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        text-align: center;
    }

    .all .landing .outro-convite .centralizar .outro-convite-foto,
    .all .servicos .outro-convite .centralizar .outro-convite-foto{
        height: 180px;
        width: 350px;
        margin-top: 70px;
        display: none;
    }



/*--------------------------footer---------------------------*/    

    .all .landing .footer .traco,
    .all .servicos .footer .traco{
        width: 350px;
        height: 1px;
        margin: 0 auto;
        justify-content: center;
        background: #9e9e9e;
    }

    .all .landing .footer .footer-lis,
    .all .servicos .footer .footer-lis{
        width: 350px;
        height: 300px;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: space-between;
    }

    .all .landing .footer .footer-footer,
    .all .servicos .footer .footer-footer{
        height: 100px;
        width: 350px;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: space-between;
    }






    .all .servicos .gradient .gradiente-conteudo-servicos{
        width: 500px;
        height: 200px;
        margin: 0 auto;
        margin-top: 160px;
    }

    .all .servicos .gradient .gradiente-conteudo-servicos .procurar-profissional{
        height: 210px;
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.331);
        padding: 20px;
    }

    .all .servicos .gradient .gradiente-conteudo-servicos .procurar-profissional .infor-profissionaos{
        height: 40px;
        width: 500px;
        padding: 0 20px;
        display: inline-block;
    }

    .all .servicos .gradient .gradiente-conteudo-servicos .procurar-profissional .infor-profissionaos select{
        width: 160px;
        height: 40px;
        background: #fff;
        padding: 0 10px;
        border: none;
        border-radius: 4px;
        justify-content: center;
        margin: 10px;
    }

    .all .servicos .gradient .gradiente-conteudo-servicos .procurar-profissional .procurar-profissionais button{
        width: 150px;
        height: 40px;
        border-radius: 4px;
        border: none;
        background: #001088;
        color: #fff;
    
    }












/*--------------------------login--------------------*/

    .all .login{
        display: none;
        flex-direction: column;
        height: 450px;
        width: 260px;
        margin: 10% auto;
        text-align: center;
       
    }

    .all .login .login-p{
        color: #4B4B4B;
        font-size: 27px;
        margin-bottom: 50px;
        font-weight: 200;
    }


/*---------------------------- Cadastro-----------------------*/

    .all .cadastro  .primeira-div-cadastro{
        display: flex;
        flex-direction: column;
        margin: 10% auto;
        text-align: center;
        width: 260px;
        height: auto;
    }
    
    .all .cadastro .primeira-div-cadastro .cadastro-p{
        color: #4B4B4B;
        font-size: 27px;
        margin-bottom: 50px;
        font-weight: 200;
    }



/*----------------------------- Confirmar número---------------------*/

    .all .cadastro .confirmar-numero{
        display: none;
        flex-direction: column;
        margin: 10% auto;
        text-align: center;
        width: 260px;
        height: auto;
    }
    
    .all .cadastro .confirmar-numero .cadastro-p{
        color: #4B4B4B;
        font-size: 27px;
        margin-bottom: 50px;
        font-weight: 200;
    }
    
    .all .cadastro .confirmar-numero input{
        height: 43px;
        width: 260px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid rgb(185, 185, 185);
        background: transparent;
        margin: 10px auto;
        padding: 0 10px;
    }
    
    .all .cadastro .confirmar-numero input::placeholder{
        font-size: 14px;
        color: #707070;
        font-weight: 200;
        text-align: center;
    }
    
    .all .cadastro .confirmar-numero .next-button{
        height: 43px;
        color: #fff;
        background: linear-gradient(to right, #001088, #C90074);
        border-radius: 6px;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 17px;
        bottom: 20px;
        width: 260px;
        align-self: center;
        border: none;
    }





/*--------------------------------------- Slide cadastro-------------------------*/
    .all .cadastro .slide-cadastro{
        display: none;
        flex-direction: column;
        width: 260px;
        height: 850px;
        margin: 0 auto;
        margin-top: 50px;
    
    }

    .all .cadastro .slide-cadastro .slides{
        width: 260px;
        height: auto;
        display: none;
        flex-direction: column;
        text-align: left;
        padding: 0;
        border-radius: 0;
        box-shadow: rgba(255, 255, 255, 0) 0 0 0 !important;
        border: none;
    }

    .all .cadastro .slide-cadastro .slides div{
        width: 260px;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }

    .all .cadastro .slide-cadastro .slides .titulo-p:first-child{
        font-size: 30px;
        color: #89A3C6;
        font-weight: 100;
    }
    .all .cadastro .slide-cadastro .slides .titulo-p:last-child{
        font-size: 12px;
        color: #89A3C6;
        width: 260px;
    }


    .all .cadastro .slide-cadastro .slides input{
        width: 260px;
        height: 25px;
        display: flex;
        flex-direction: column;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid rgb(192, 198, 207);
        color: #B9C3CE;
    
    }


    .all .cadastro .slide-cadastro .slides .dialogo{
        margin-top: 15px;
        height: 150px;
        width: 260px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid rgb(192, 198, 207);
    }

    .all .cadastro .slide-cadastro .slides .dialogo::placeholder{
        color: #B9C3CE;
    }

    .all .cadastro .slide-cadastro .slides label{
        font-size: 12px;
        color: #376B94;
        font-weight: 600;
    }

    .all .cadastro .slide-cadastro .slides .row{
        display: flex;
        flex-direction: row;
        width: 260px;
    }
    .all .cadastro .slide-cadastro .slides .row-data{
        display: flex;
        flex-direction: row;
        width: 260px;
        justify-content: space-between;
    }

    .all .cadastro .slide-cadastro .slides .row-telefone{
        display: flex;
        flex-direction: row;
        width: 260px;
        justify-content: space-between;
    }
  
    .all .cadastro .slide-cadastro .slides .row p{
        margin: 0 2px;
        color: #B9C3CE;
        padding: 5px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid rgb(192, 198, 207);
    }

    .all .cadastro .slide-cadastro .slides .row input{
        width: auto;
        margin: 0 2px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid rgb(192, 198, 207);
        color: #B9C3CE;
    }

    .all .cadastro .slide-cadastro .slides .row-data input{
        width: auto;
        margin: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid rgb(192, 198, 207);
        color: #B9C3CE;
    }


    .all .cadastro .slide-cadastro .slides .row-data .data{
        width: 32%;
    }

    .all .cadastro .slide-cadastro .slides .row-telefone input{
        width: auto;
        margin: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid rgb(192, 198, 207);
        color: #B9C3CE;
    }


    .all .cadastro .slide-cadastro .slides .row-telefone input:first-child{
        width: 18%;
    }


    .all .cadastro .slide-cadastro .slides .row-telefone input:last-child{
        width: 80%;
    }






    .all .cadastro .slide-cadastro .btns-vol-pro{
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 10px;
        width: 260px;
        justify-content: space-between;
    }

    .all .cadastro .slide-cadastro .btns-vol-pro button{
        height: 43px;
        color: #fff;
        background: linear-gradient(to right, #001088, #C90074);
        border-radius: 6px;
        font-size: 17px;
        bottom: 20px;
        width: 100%;
        align-self: center;
        margin-bottom: 10px;
        border: none;
    } 

    .back-slid{
        margin-top: 20px !important;
    }

    .next-slid{
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 40px !important;
    }

    .next-slid p{
        margin: 0 0 0 70px;
    }

    .next-slid img{
        height: 30px;
        width: 30px; 
        margin-left: 40px;
    }



}